<div class="workflow-container">
    <!---------------- Page Title ---------------->
    <p class="page-title">
        File Processing Workflow
    </p>

    <!---------------- Workflow Section ---------------->
    <div class="row mt-4 scrollbar-primary h-scrollStyle pb-2">
        <div class="col-12">
            <div class="row flex-row flex-nowrap">
                <div class="col-3">
                    <div class="info-cards info-card-h bg-white box-shadow-c unassigned">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-header-titles pl-0 pt-0">
                                            Unassigned (12)
                                            <i class="title-border-b"></i>
                                        </p>
                                    </div>
                                    <div class="col-4 d-none text-right">
                                        <span class="pt-0">
                                            <button type="button" class="btn btn-sm btn-outline-primary p-1">
                                                Ratio <span class="badge badge-light">6%</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="scrollbar-primary scrollStyle pr-2">
                                            <div class="d-flex justify-content-start flex-column info-titles-box">
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch1">
                                                        <label class="custom-control-label"
                                                            for="customSwitch1">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch2">
                                                        <label class="custom-control-label"
                                                            for="customSwitch2">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch3">
                                                        <label class="custom-control-label"
                                                            for="customSwitch3">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch4">
                                                        <label class="custom-control-label"
                                                            for="customSwitch4">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch5">
                                                        <label class="custom-control-label"
                                                            for="customSwitch5">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="custom-control custom-switch">
                                                        <input type="checkbox" class="custom-control-input"
                                                            id="customSwitch6">
                                                        <label class="custom-control-label"
                                                            for="customSwitch6">&nbsp;</label>
                                                    </div>
                                                    <div class="info-details info-card-details">
                                                        <span>
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-cards info-card-h bg-white box-shadow-c inprogress">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-header-titles pl-0 pt-0">
                                            In Progress (4)
                                            <i class="title-border-b"></i>
                                        </p>
                                    </div>
                                    <div class="col-4  d-none text-right">
                                        <span class="pt-0">
                                            <button type="button" class="btn btn-sm btn-outline-primary p-1">
                                                Ratio <span class="badge badge-light">6%</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="scrollbar-primary scrollStyle pr-2">
                                            <div class="d-flex justify-content-start flex-column info-titles-box">
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-cards info-card-h bg-white box-shadow-c upload-complete">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-header-titles pl-0 pt-0">
                                            Upload Complete (2)
                                            <i class="title-border-b"></i>
                                        </p>
                                    </div>
                                    <div class="col-4 d-none text-right">
                                        <span class="pt-0">
                                            <button type="button" class="btn btn-sm btn-outline-primary p-1">
                                                Ratio <span class="badge badge-light">6%</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="scrollbar-primary scrollStyle pr-2">
                                            <div class="d-flex justify-content-start flex-column info-titles-box">
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-3">
                    <div class="info-cards info-card-h bg-white box-shadow-c exception">
                        <div class="card border-0">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-12">
                                        <p class="card-header-titles pl-0 pt-0">
                                            Exception
                                            <i class="title-border-b"></i>
                                        </p>
                                    </div>
                                    <div class="col-4 d-none text-right">
                                        <span class="pt-0">
                                            <button type="button" class="btn btn-sm btn-outline-primary p-1">
                                                Ratio <span class="badge badge-light">6%</span>
                                            </button>
                                        </span>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <div class="scrollbar-primary scrollStyle pr-2">
                                            <div class="d-flex justify-content-start flex-column info-titles-box">
                                                <div class="info-box d-flex align-items-center mb-3 box-shadow-c">
                                                    <div class="info-details info-card-details">
                                                        <span class="info-name">
                                                            Coco Cola
                                                        </span>
                                                        <span class="info-number">
                                                            PP12345
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>